
.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;

    background: rgba(39, 55, 32, 0.87);
    font-family: "Roboto", sans-serif;
}

.headerInner {
    display: grid;

    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 25px 60px;
}


.nav {
    display: flex;
    
    gap: 48px;
    justify-self: center;
}

.link {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-decoration: none;

    transition: color 0.15s linear;
    &:hover {
        color: #42AE60;
    }
}

.buttons {
    display: flex;
    gap: 24px;
}

