
/* Body */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #000;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

/* Container */
.container {
    margin: 0 auto;
    padding: 0 140px;
    width: 100%;
}

/* Button */
.button {
    border: none;
    background: none;
    width: 100%;
    max-width: 200px;
    
    background-color: #0E0E0E;
    border: 1px #707070 solid;
    border-radius: 10px;

    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    color: #707070;
    cursor: pointer;

    padding: 15px 20px;

    transition: background 0.15s linear, border 0.15s linear, color 0.15s linear;
}

.button:hover {
    background-color: #326CF9;
    border-color: #326CF9;
    color: #fff;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 46px;  

    z-index: 1000;  

    transition: background 0.15s linear;
}

.header.fixed {
    position: fixed;

    background: #0E0E0E;
    padding: 20px 0;
}

.header__inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     
    
}

.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    cursor: pointer;
}

.logo__img {
    display: block;
    max-width: 45px;
    
    height: 40px;
    margin-right: 17px;
}

.logo__text {
    color: #fff;
    font-size: 37px;
    font-weight: 800;
    line-height: 1.5;
}



.nav {
    display: flex;
    padding: 0;
}

.nav.active {
    transform: translateY(0);
    display: flex;
    transition: transform 0.25s linear;
}

.nav__toggle {
    display: none;
    order: 3;

    padding: 14px 0;
    cursor: pointer;
    position: sticky;
}



.burger {
    display: block;
    z-index: 1000;
    width: 40px;
    height: 4px;
    background: #fff;
    

    position: relative;
}

.burger::after,
.burger::before {
    content: "";
    display: block;
    position: absolute;

    width: 40px;
    height: 4px;
    background: #fff;

}

.burger::before {
    top: -10px;
}

.burger::after {
    bottom: -10px;
}

.nav__link {
    color: #707070;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;

    margin: 0 18px;
    text-decoration: none;
    transition: color 0.15s linear;
}

.nav__link:hover {
   color: #3C82F4;
}

.nav__link.nav__link-cases:hover::after {
    border-color: #306EF7;
}
.nav__link.nav__link-cases {
    position: relative;
}

.nav__link.nav__link-cases::after {
    position: absolute;
    content: "";
    display: block;
    border-right: 2px solid #707070;
    border-bottom: 2px solid #707070;
    
    padding: 3px;
    top: 0;
    left: 100%;
    transform: translate3d(100%, 125%, 0) rotate(45deg);
    transition: border 0.15s linear;
}


.header__login {
    color: #707070;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;

    margin-right: 24px;
    text-decoration: none;
    transition: color 0.15s linear;
}

.header__login:hover {
    color: #306EF7;
}

.header__registration {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;

    background-color: #306EF7;
    border: 0;
    padding: 12px 20px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.15s linear;
}

.header__registration:hover {
    background-color: rgba(48, 110, 247, 0.8);
}


/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    padding-top: 200px;
    padding-bottom: 180px;

    
    color: #fff;
}

.intro__inner  {
    padding-top: 50px;
}

.intro__text {
    font-size: 85px;
    font-weight: 700;
    line-height: 1.5;
}

.intro__text:last-child {
    background: linear-gradient(to right, #FE6783 1.9%, #FFBF84 97.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -30px;
}

.intro__subtitle {


    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;

    margin-top: 100px;
}

.intro__buttons {
    margin: 40px 13px 0;
    display: flex;
    justify-content: center;
}

.button-intro {
    color: #707070;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;

    min-width: 300px;
    border: 1px solid #707070;
    border-radius: 10px;

    cursor: pointer;
    margin: 0 13px;

    transition: color 0.15s linear, background 0.15s linear, border 0.15s linear;
}

.button-intro:hover {
    background-color: #326CF9;
    border-color: #326CF9;
    color: #fff;
}

.intro__results {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 9px;
}

.intro__dot {
    position: relative;
}

.intro__dot-big {
    top: 0;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #0FC65C;
    
    transform: translate3d(-100%, -50%, 0);
    opacity: 0.24;
    border-radius: 50%;
    z-index: 0;
}

.intro__dot-small {
    display: block;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    background-color: #0FC65C;
    position: absolute;
    opacity: 1;
    z-index: 100;
    transform: translate3d(-140%, -50%, 0);
    border-radius: 50%;
}

.intro__number {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.25;
    color: #fff;
}

.intro__subtext {
    font-weight: 400;
    font-size: 25px;
    line-height: 1.25;
    color: #707070;
}

/* Why */

.why {
    color: #fff;
    text-align: center;
    margin-bottom: 150px;
}

.why__title {
    font-size: 75px;
    font-weight: 600;
    line-height: 1.5;
    
    margin-bottom: 60px;
}

.why__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.why__item {
    width: 33.33333%;
    position: relative;
}

.why__item--main {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.why__subtitle {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    
    position: relative;

    margin-bottom: 7px;
}

.why__text {
    font-size: 20px;
    line-height: 1.5;
    color: #707070;
}

.why__img {
    left: 40px;
    width: 37px;
    height: 37px;
}


/* Section Step */
.step {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.step__count {
   font-size: 22px;
   font-weight: 600;
   line-height: 1.5;
   color: #3D82F2;
   text-transform: uppercase;
 
}

.step__title {
    font-size: 75px;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
}

.step__text {
    font-size: 25px;
    line-height: 1.5;
    color: #707070;

}


.button-step {
    font-size: 20px;
    font-weight: 600;
    
    border: 1px solid #707070;
    border-radius: 10px;
    background: 0;
    max-width: 300px;
    margin: 30px auto 0;
    padding: 20px 30px;

    color: #707070;
    cursor: pointer;
    transition: color 0.15s linear, background 0.15s linear, border 0.15s linear;
}

.button-step:hover {
    background-color: #326CF9;
    border-color: #326CF9;
    color: #fff;
}

/* Opportunities */
.opportunities {
    display: flex;
    gap: 200px;
    margin: 150px 0;
}

.opportunities__main {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 0 50px 150px;
}

.opportunities__subtitle {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 60px;
}

.opportunities__title {
    font-size: 75px;
    line-height: 1.5;
    font-weight: 600;
    color: #fff;

    
}

.opportunities__title span {
    color: #3C82F4;
}


.opportunities__pros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.pros__item {
    font-size: 23px;
    line-height: 1.5;
    color: #fff;
    margin-left: 40px;
}

.pros__item::before {
    position: absolute;
    transform: translate3d(-120%, -10%, 0);
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    background: #2D2D2D;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    font-size: 18px;
    padding-top: 4px;

}

.pros__item.first::before {
    content: "1";
}

.pros__item.last::before {
    content: "2";
}


.opportunities__buttons {
    display: flex;
    margin-top: 70px;
    gap: 20px;
}

.button-opportunity {
    width: 100%;
    max-width: 200px;
    
    background-color: #0E0E0E;
    border: 1px #707070 solid;
    border-radius: 10px;

    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    color: #707070;
    cursor: pointer;

    padding: 15px 20px;

    transition: background 0.15s linear, border 0.15s linear, color 0.15s linear;
}

.button-opportunity:hover {
    background-color: #326CF9;
    border-color: #326CF9;
    color: #fff;
}

.opportunities__img {
    position: absolute;
    right: 0;
    z-index: -1;
    display: block;
    max-width: 45%;
    height: auto;
    object-fit: cover;
}


/* Advantage */

.advantage {
    margin: 150px 0;
    padding: 0 70px;
    text-align: center;
}

.advantage__items {
    display: flex;
    text-align: left;
    gap: 20px;

    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
}

.advantage__item {
    background: #0D0D0D;
    width: 50%;
    padding-left: 20px;
    padding-top: 30px;
    position: relative;
    padding-bottom: 300px;

}

.advantage__subtitle {
    color: #0FC65C;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
}


.advantage__title {
    color: #fff;
    font-size: 80px;
    font-weight: 600;
    line-height: 1.1;
    
}

.advantage__item:last-child {
    padding-bottom: 180px;
}

.advantage__item:last-child .advantage__subtitle {
    margin-bottom: 120px;
}


.advantage__title span {
    color: #919191;

}

.advantage__img {
    display: block;
    max-width: 800px;
    width: 100%;
    max-height: 450px;
    height: 100%;

    position: absolute;
    bottom: 0;
    right: -3.5%;
}


.button-advantage {
    margin-top: 40px;
    max-width: 280px;
}

/* Reviews */

.reviews {
    margin: 300px 0 200px 0;
    padding: 0 40px;
}

.reviews__title {
    font-size: 75px;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.reviews__img {
    max-width: 100%;
}

/* Results */

.results {
    background: url("../assets/img/results.png") no-repeat;
    background-size: cover;
    padding: 300px 0;
    margin-bottom: 150px;
}

.results__title {
    font-size: 70px;
    line-height: 1.5;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

/* Join */

.join {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.join__logo {
    max-width: 150px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.join__title {
    font-size: 100px;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
}

.join__subtitle {
    font-size: 43px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 20px;
}

.button-join {
    max-width: 450px;
    width: 100%; 
    font-size: 30px;
    line-height: 1.5;
    font-weight: 600;
    padding: 23px;
    border-radius: 20px;
}
    
.join__results {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 9px;
}

.join__dot {
    position: relative;
}

.join__dot-big {
    top: 0;
    left: 0;
    display: inline-block;
    width: 37px;
    height: 37px;
    position: absolute;
    background-color: #0FC65C;
    
    transform: translate3d(-100%, -50%, 0);
    opacity: 0.24;
    border-radius: 50%;
    z-index: 0;
}

.join__dot-small {
    display: block;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #0FC65C;
    position: absolute;
    opacity: 1;
    z-index: 100;
    transform: translate3d(-136%, -50%, 0);
    border-radius: 50%;
}

.join__number {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.25;
    color: #fff;
}

.join__subtext {
    font-weight: 400;
    font-size: 38px;
    line-height: 1.25;
    color: #707070;
}


/* Footer */

.footer {
    padding-bottom: 100px;
    width: 100%;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info-main {
    display: flex;
    gap: 20px;
    text-decoration: none;

    cursor: pointer;
}

.footer__logo {
    max-width: 47px;
    width: 100%;
    max-height: 50px;
    height: auto;
}

.footer__title {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.5;
    color: #fff;
}

.footer__email {
   font-size: 27px;
   line-height: 1.5;
   color: #707070; 
}


/* Media */

@media (max-width: 1200px) {

    .container {
        padding: 0 80px;
    }
    /* Header */
    .nav {
        
        flex-direction: column;
        gap: 20px;


        position: fixed;
        top: 0;
        right: 0;
        z-index: -1;
        

        background: #0E0E0E;
        color: #fff;

        transform: translateY(-100%);
        padding: 120px 30px 30px;

        transition: transform 0.25s linear;
    }

    .nav__link {
        color: #fff;
    }

    .nav__link.nav__link-cases::after {
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    .nav__toggle {
        display: block;
    }

    .header__enter {
        order: 2;
    }

    /* Intro */

    .intro {
        padding: 100px 0 80px 0;
    }

    .intro__text {
        font-size: 65px;
    }

    .intro__subtitle {
        font-size: 20px;
        margin-top: 30px;
    }

    .intro__buttons {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .button-intro {
        font-size: 15px;
    }

    .intro__number {
        font-size: 20px;
    }

    .intro__subtext {
        font-size: 20px;
    }

    /* Why */
    .why {
        margin-bottom: 80px;
    }

    .why__title {
        font-size: 60px;
    }

    .why__items {
        gap: 30px;
    }

    .why__item {
        width: 100%;
    }

    /* Section */
    .step {
        padding: 0 30px;
    }
    .step__title {
        font-size: 60px;
    }

    .step__text {
        font-size: 20px;
    }

    /* Opportunities */
    .opportunities {
        margin: 80px 0;
    }
    .opportunities__main {
        margin-left: 80px;
    }
    .opportunities__subtitle {
        font-size: 25px;
    }

    .opportunities__title {
        font-size: 60px;
    }

    .pros__item {
        font-size: 20px;
    }

    /* Advantage */
    .advantage {
        margin: 100px 0;
    }
    .advantage__items {
        flex-wrap: wrap;
    }
    .advantage__item {
        width: 100%;
    }

    .advantage__item:last-child {
        padding-bottom: 60px;
    }

    .advantage__subtitle {
        font-size: 25px;
    }

    .advantage__item:last-child .advantage__subtitle {
        margin-bottom: 30px;
    }

    .advantage__title {
        font-size: 60px;
    }

    .advantage__img {
        max-height: 350px;
        max-width: 650px;
        right: -2.5%;
    }

    /* Reviews */
    .reviews {
        margin: 80px 0;
    }

    .reviews__title {
        font-size: 60px;
    }

    /* Results */
    .results {
        margin-bottom: 70px;
    }
    .results__title {
        font-size: 55px;
        padding: 0 15px;
    }

    /* Join */
    .join {
        margin-bottom: 80px;
    }

    .join__logo {
        max-width: 100px;
        max-height: 100px;
    }

    .join__title {
        font-size: 75px;
    }

    .join__subtitle {
        font-size: 30px;
    }

    .button-join {
        font-size: 20px;
        max-width: 300px;
    }

    .join__number {
        font-size: 25px;
    }

    .join__subtext {
        font-size: 25px;
    }

    /* Footer */
    .footer {
        padding-bottom: 30px;
    }

    .footer__title {
        font-size: 35px;
    }

    .footer__email {
        font-size: 24.5px;
    }
}

@media (max-width: 717px) {

    /* Container */
    .container {
        padding: 0 30px;
    }

    /* Header */
    .logo__text {
        font-size: 0;
    }

    .logo__img {
        margin-right: 12px;
    }
    .header__login {
        font-size: 16px;
        margin-right: 16px;
    }

    .header__registration {
        font-size: 16px;
        padding: 8px 12px;
    }

    /* Intro */
    .intro__text {
        font-size: 50px;
        
    }
    .intro__text:last-child {
        margin-top: 0;

    }

    .intro__subtitle {
        font-size: 18px;
        margin-top: 30px;
    }

    .intro__buttons {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .button-intro {
        font-size: 18px;
    }

    .intro__results {
        gap: 5px;
    }

    .intro__dot-big {
        width: 20px;
        height: 20px;
    }

    .intro__dot-small {
        width: 12px;
        height: 12px;
        transform: translate3d(-135%, -50%, 0);
    }

    .intro__number {
        font-size: 16px;
    }

    .intro__subtext {
        font-size: 16px;
    }

    /* Why */
    .why__title {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .why__subtitle {
        font-size: 25px;

    }

    .why__text {
        font-size: 16px;
    }

    /* Section */
    .step__count {
        font-size: 18px;
    }

    .step__title {
        font-size: 40px;
    }

    .step__text {
        font-size: 16px;
    }

    .button-step {
        font-size: 16px;
        max-width: 240px;
    }

    .opportunities {
        margin: 80px 0;
        padding: 0 20px;
        text-align: center;
    }

    .opportunities__main {
        margin: 0;
        width: 100%;
    }

    .opportunities__img {
        max-width: 100%;
        opacity: 0.5;
    }

    .opportunities__subtitle {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .opportunities__title {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .opportunities__pros {
        align-items: center;
    }
    .pros__item {
        font-size: 16px;
    }

    .pros__item::before {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        font-size: 15px;
    }

    .opportunities__buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .button-opportunity {
        font-size: 16px;
    }

    /* Advantage */
    .advantage {
        padding: 0;
    }
    
    .advantage__item {
        padding-bottom: 150px;
        overflow: hidden;
    }

    .advantage__subtitle {
        font-size: 20px;
    }

    .advantage__title {
        font-size: 40px;
    }

    .advantage__img {
        max-width: 300px;
        height: auto;
        right: -2.5%;
    }

    .button-advantage {
        max-width: 230px;
        font-size: 16px;
    }

    /* Reviews */
    .reviews {
        padding: 0 20px;
        overflow: hidden;
    }

    .reviews__title {
        font-size: 40px;
    }

    .reviews__img {
        scale: 1.5;
    }

    /* Results */
    .results__title {
        font-size: 35px;
    }

    /* Join */
    .join {
        text-align: center;
    }
    .join__title {
        font-size: 50px;
    }

    .join__subtitle {
        font-size: 20px;
    }

    .button-join {
        max-width: 200px;
        font-size: 16px;
    }

    .join__number {
        font-size: 16px;
    }

    .join__subtext {
        font-size: 16px;
    }

    .join__dot-big {
        width: 20px;
        height: 20px;
    }
    .join__dot-small {
        width: 12px;
        height: 12px;
        transform: translate3d(-135%, -50%, 0);
    }

    /* Footer */
    .footer__inner {
        justify-content: center;
    }
    .footer nav {
        display: none;
    }
}

@media (max-width: 414px) {
    /* Join */
    .join {
        text-align: center;
        padding: 0 15px;
    }

    .join__title {
        font-size: 40px;
    }

    .join__subtitle {
        font-size: 16px;
    }

    .button-join {
        font-size: 14px;
    }

    .join__number {
        font-size: 14px;
    }

    .join__subtext {
        font-size: 14px;
    }
}


@media (max-height: 450px) {
    /* Header */
    .header.fixed {
        padding: 8px 0;
    }
}